html, body {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  margin: 0 auto -40px;
  padding: 0 0 40px;
  background: url('../assets/subtle_white_mini_waves.png') repeat;
}

main {
  padding: 20px 0 40px 40px;
  min-height: 95vh;
  overflow: scroll;
}

footer {
  min-height: 60px;
  display: flex;
  justify-content: center;
  background-color: #464646;
  color: #fff;
  z-index: 1000;
  p {
      padding: 10px;
  }
}

header {
  color: #fff;
  padding: 20px;
  background: url('../assets/background.jpg');
  box-shadow: 5px 0 5px #888;
  z-index: 100;

  h1 {
    font-size: 2em;
    font-weight: 600;
  }

  h2 {
    color: #92dce0;
    font-size: 1.34em;
    font-weight: 600;
  }

  a {
    color: #fff;
  }

  .zmdi {
    color: #fff;
    font-size: 2em;
    margin-right: 10px;
  }

  #mobile-menu {
    display: none;
  }

  li {
    cursor: pointer;
  }
}

h2 {
  color: #046078;
  font-size: 2em;
  font-weight: 600;
}

h3 {
  margin-top: -5px;
  color: #bdbdbc;
}

ul {
  margin-top: 30px;
}

li {
  line-height: 2em;
  color: #fff;
  list-style: none;
}

.button {
  margin-right: 10px;
}

.content {
  width: 90%;
}

.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  img {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
  }

  .projects-image-btn {
    display: flex;
    flex-direction: column;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    h3 {
      color: #505050;
      font-size: 1.5em;

      span {
        font-size: .6em;
        font-style: italic;
        color: #046078;
      }
    }
  }

  .details-link {
    display: none;
  }
}

.project-asset {
  max-width: 100%;
  min-width: 25%;
  margin-bottom: 40px;
}

.strong {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

// Animations
.ng-enter {
  animation: fadeInLeft 1s;
}

.ng-leave {
  animation: fadeOutRight 1s;
}

// Media Queries

@media (max-width: 640px) {
  html, body {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  .project-container {
    flex-direction: column;

    .projects-image-btn {
      display: none;
    }

    .details-link {
      display: inline;
    }
  }

  .details-container {
    margin-left: 0;
  }

  #large-menu {
    display: none;
  }

  #mobile-menu {
    display: flex;
    width: 243px;
    margin: 0 auto;

    li {
      margin: 0 10px -10px 0;
    }
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 388px) {
  .pipe {
    display: none;
  }
}
