* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #444444; }

#container {
  display: flex;
  flex: 1; }

#bio {
  width: 90%; }

header {
  flex: 1;
  flex-grow: 100%;
  color: #fff;
  padding: 20px;
  background: url("../images/background.jpg");
  box-shadow: 5px 0 5px #888;
  z-index: 1000; }
  header li {
    cursor: pointer; }

h3 {
  margin-top: -5px;
  color: #bdbdbc; }

ul {
  margin-top: 30px; }

li {
  line-height: 3em;
  color: #fff;
  list-style: none; }

.connect {
  display: flex; }

.connect a {
  margin: 5px; }

main {
  flex: 2;
  background: url("../images/subtle_white_mini_waves.png") repeat;
  padding: 20px 0 0 40px; }

#projects {
  display: flex;
  flex-direction: column; }

.project {
  background-color: #ff9100;
  margin: 20px;
  width: 120px;
  height: 120px; }

footer {
  display: flex;
  justify-content: center;
  height: 5vh;
  padding: 3px;
  background-color: #464646;
  color: #fff; }
