html, body {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: url("../assets/ecailles.png") repeat; }

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto; }

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto -40px;
  padding: 0 0 40px; }

main {
  padding: 20px 0 40px 40px;
  min-height: 95vh;
  width: 80%;
  overflow: scroll; }

header {
  color: #fff;
  padding: 20px;
  background: url("../assets/background.jpg");
  box-shadow: 5px 0 5px #888;
  z-index: 100; }
  header h1 {
    font-size: 2em;
    font-weight: 600; }
  header h2 {
    color: #92dce0;
    font-size: 1.34em;
    font-weight: 600; }
  header a {
    color: #fff; }
  header .zmdi {
    color: #fff;
    font-size: 2em;
    margin-right: 10px; }
  header ul {
    margin-top: 30px; }
  header li {
    cursor: pointer;
    line-height: 2em;
    color: #fff;
    list-style: none; }

h2 {
  color: #046078;
  font-size: 2em;
  font-weight: 600; }

h3 {
  margin-top: -5px;
  color: #bdbdbc; }

.button {
  margin-right: 10px; }

.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px; }
  .project-container img {
    width: 62px;
    height: 62px;
    margin-bottom: 10px; }
  .project-container .projects-image-btn {
    display: flex;
    flex-direction: column; }
  .project-container .details-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px; }
    .project-container .details-container h3 {
      color: #505050;
      font-size: 1.5em; }
      .project-container .details-container h3 span {
        font-size: .6em;
        font-style: italic;
        color: #046078; }
  .project-container .details-link {
    display: none; }

.project-asset {
  max-width: 100%;
  min-width: 25%;
  margin-bottom: 40px; }
  .project-asset img {
    margin-bottom: 20px; }

.strong {
  font-weight: 600; }

.italic {
  font-style: italic; }

.ng-enter {
  animation: fadeInLeft 1s; }

.ng-leave {
  animation: fadeOutRight 1s; }

@media (min-width: 660px) {
  #mobile-menu {
    display: none; }
  .contact {
    margin-top: 100px;
    background-color: rgba(213, 230, 237, 0.5);
    padding: 10px;
    text-align: center; } }

@media (max-width: 660px) {
  html, body {
    flex-direction: column; }
  header {
    text-align: center; }
  .project-container {
    flex-direction: column; }
    .project-container .projects-image-btn {
      display: none; }
    .project-container .details-link {
      display: inline; }
  .details-container {
    margin-left: 0; }
  #large-menu {
    display: none; }
  #mobile-menu {
    display: flex;
    width: 243px;
    margin: 0 auto; }
    #mobile-menu li {
      margin: 0 10px -10px 0; }
  .contact {
    display: none; } }
